<ion-view name="signup-view">
  <ion-content class="padding">
    <div class="title-image">
    </div>
      <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Full Name" ng-model="data.name" mask="">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username" mask="">
        </label>
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email" mask="example@mail.com">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Confirm" ng-model="data.confirm">
          </label>
      </div>
      <button class="button button-block button-assertive" ng-click="signup()">Sign up</button>
      <button class="button button-block button-stable" ng-click="cancel()">Cancel</button>
  </ion-content>
</ion-view>
