<ion-view name="login-view">
  <ion-content class="padding">
    <div class="title-image">
      <img id="logo-img" src="img/logo.png" alt="THE BEAU BARBERSHOP" />
    </div>
    <div class="padding">
      <!-- give me some space! -->
    </div>
      <div class="list list-inset" style="margin-top: 2em">
          <label class="item item-input">
              <input type="text" placeholder="Full Name" ng-model="data.name">
          </label>
          <div class="padding">
            <!-- give me some space! -->
          </div>
          <label class="item item-input">
              <input type="tel" placeholder="Phone Number" ng-model="data.phone">
          </label>
      </div>
      <div class="" style="margin-top: 3em">
        <button class="button button-block button-dark" ng-click="login()">Continue</button>
        <button class="button button-block button-positive" ng-click="fbLogin()">Login with Facebook</button>
        <!-- <button class="button button-block button-stable" ng-click="signup()">Sign up</button> -->
      </div>
  </ion-content>
</ion-view>
