<ion-view view-title="Boundary Test">
  <ion-content class="padding" scroll="false">
    <div ng-controller="BoundaryTestCtrl">
      <leaflet defaults="defaults" tiles="tiles" center="center" maxbounds="maxbounds" width="100%" height="36vh"></leaflet>
      <ion-scroll style="height: 27vh">
        <button class="button button-positive button-full" ng-click="maxbounds=regions.london">
          London region
        </button>
        <button class="button button-positive button-full" ng-click="maxbounds=regions.lisbon">
          Lisbon region
        </button>
        <button class="button button-positive button-full" ng-click="maxbounds=regions.warszawa">
          Warszawa region
        </button>
        <button class="button button-positive button-full" ng-click="maxbounds={}">
          Unset maxbounds
        </button>
      </ion-scroll>

      <ion-scroll style="height: 13.5vh">
        <p>
          Zoom: {{center.zoom}}
        </p>

        <p ng-show="maxbounds.northEast" class="result">
          Maxbounds:
          <p>
            NE
            </br>lat: {{ maxbounds.northEast.lat }}
            </br>lng: {{ maxbounds.northEast.lng }}
          </p>
          <p>
            SW
            </br>lat: {{ maxbounds.southWest.lat }}
            </br>lng: {{ maxbounds.southWest.lng }}
          </p>
        </p>
      </ion-scroll>

    </div>
  </ion-content>
</ion-view>
