<ion-view view-title="Map">
  <ion-content class="padding">
    <div ng-controller="MapController">
      <leaflet maxbounds="maxbounds" width="100%" height="36vh"></leaflet>
      <ion-list>
        <button class="button button-positive button-full" ng-click="maxbounds=regions.london button-full">London region</button>
        <button class="button button-positive button-full" ng-click="maxbounds=regions.lisbon">Lisbon region</button>
        <button class="button button-positive button-full" ng-click="maxbounds=regions.warszawa">Warszawa region</button>
        <button class="button button-positive button-full" ng-click="maxbounds={}">Unset maxbounds</button>
      </ion-list>

      <p ng-show="maxbounds.northEast" class="result">
        Maxbounds:
        <p>
          NE
          </br>lat: {{ maxbounds.northEast.lat }}
          </br>lng: {{ maxbounds.northEast.lng }})
        </p>
        <p>
          SW
          </br>lat: {{ maxbounds.southWest.lat }},
          </br>lng: {{ maxbounds.southWest.lng }})
        </p>
      </p>

    </div>
  </ion-content>
</ion-view>
