<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Marker" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/marker-test">
    <ion-nav-view name="tab-marker-test"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Static" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/static-map">
    <ion-nav-view name="tab-static-map"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="GeoJSON" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/geojson-test">
    <ion-nav-view name="tab-geojson-test"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Boundary" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/boundary-test">
    <ion-nav-view name="tab-boundary-test"></ion-nav-view>
  </ion-tab>

</ion-tabs>
