<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>

<body ng-app="starter">
  <ion-pane>
    <!-- <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar> -->
    <ion-content>
      <div class="row">
        <div class="col-10">
          <p>7:00 AM</p>
          <p>7:30 AM</p>
          <p>8:00 AM</p>
          <p>8:30 AM</p>
          <p>9:00 AM</p>
          <p>9:30 AM</p>
          <p>10:00 AM</p>
          <p>10:30 AM</p>
          <p>11:00 AM</p>
          <p>11:30 AM</p>
          <p>12:00 PM</p>
          <p>12:30 PM</p>
          <p>1:00 PM</p>
          <p>1:30 PM</p>
          <p>2:00 PM</p>
          <p>2:30 PM</p>
          <p>3:00 PM</p>
          <p>3:30 PM</p>
          <p>4:00 PM</p>
        </div>
        <ion-list class="col-90" ng-controller="EventsCtrl" show-delete="shouldShowDelete" can-swipe="listCanSwipe">
          <ion-item ng-repeat="event in events" class="item-thumbnail-left">
              <i class="icon ion-music-note"></i>
            <p>{{ event.name }}</p>
            <ion-option-button class="button-positive" ng-click="set(event)">
              <i class="ion-ios-alarm-outline"></i>
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
  </ion-pane>
</body>

</html>
