/* Empty. Add your own CSS if you like */


/* Set width of time collum */

p {
  padding: 0;
  margin: 0;
}

/* Set padding for text in each event item */
/* Set min height event item */
.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-left: 10px;
  min-height: 20px;
  width: 100%;
}

.ion-music-note {
  font-size: 2em;
  float: left;
  margin-right: 0.3em;
}

.ion-ios-alarm-outline{
  font-size: 2em;
  text-align: center;
}

.half {
  color: gray;
}

.item-icon-left .icon{
  left:0px;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 10px 49px 10px 16px;
}
/*.item {
  height: 60px;
}*/

.event-time {
  width: 2.2em;
}

.event-time i {

}

.event-time p {
  color: #fff;
  font-size: 0.6em;
  text-align: center;
  margin: 0 auto;
  line-height: 22px;
}

.event-name {
  height: 100%;
  font-weight: 700;
  display: block;
  margin-left: 1.8em;
}

.event-desc {
  margin-top: 0.4em;
  font-weight: 500;
  float: left;
  max-width: 200px;
  height: 100%;
}

.event-body {
  margin: 0;
  padding: 0;
  width: 100%;
}
