/* Empty. Add your own CSS if you like */

.row {
  padding: 0;
  margin: 0;
}

/* Set width of time collum */

p {
  padding: 0;
  margin: 0;
}

.col-20 p {
  white-space: nowrap;
  font-size: 10px;
  text-align: right;
  padding-right: 1em;
}

/* Set padding for text in each event item */
/* Set min height event item */
.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-left: 10px;
  min-height: 20px;
  width: 100%;
}

.ion-music-note {
  font-size: 2em;
  float: left;
  margin-right: 0.3em;
}

.ion-ios-alarm-outline{
  font-size: 2em;
  text-align: center;
}

.col-90 {
    -moz-box-flex: 0;
    flex: 0 0 90%;
    max-width: 90vw;
    margin-left: 0;
}

.half {
  color: gray;
}

.item-icon-left .icon{
  left:0px;
}

.item {
  height: 60px;
}
