<ion-view name="account-view">
  <ion-content class="padding">
    <div class="account-info">
      <h2>{{user.full_name}}</h2>
      <h4>{{user.email}}</h4>
      <h4>{{user.uid}}</h4>
      <button class="button button-block button-assertive" ng-click="logout()">Sign Out</button>
    </div>

    <!-- List of Barbers -->
    <div class="list card">
      <div class="item item-avatar" ng-click="toggle(1)">
        <img src="img/ionic.png">
        <h2>Bogdan Pshonyak</h2>
        <p>Profesional Barber</p>
      </div>

      <div class="more-info" ng-if="drop">
        <div class="item item-body">
          <img class="full-image" src="img/placeholder.png">
          <p>
            This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance.
          </p>
          <p>
            <a class="subdued" href="#">1 Like</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <button class="button button-block schedule-btn button-dark" style="margin: 0px" ng-click="schedule()">Schedule Haircut</button>
        </div>
      </div>
    </div>

    <!-- Second Barber -->

    <div class="list card">
      <div class="item item-avatar" ng-click="toggle(2)">
        <img src="img/ionic.png">
        <h2>Brain Rivera</h2>
        <p>Profesional Barber</p>
      </div>

      <div class="more-info" ng-if="drop2">
        <div class="item item-body">
          <img class="full-image" src="img/placeholder.png">
          <p>
            This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance. This is a sample sentance.
          </p>
          <p>
            <a class="subdued" href="#">1 Like</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <button class="button button-block schedule-btn button-dark" style="margin: 0px" ng-click="schedule()">Schedule Haircut</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
