<ion-view name="event">
  <ion-header-bar class="bar-light">
    <a href="#" class="button icon ion-arrow-left-b"></a>
    <p>
      SCHEDULE A SERVICE
    </p>
  </ion-header-bar>
  <ion-content>

    <div class="prod-search">
      <div class="prod-search-inner">
        <label class="item item-input item-floating-label">
          <input type="text" placeholder="Search product or scan bar code">
          <i class="icon ion-search placeholder-icon"></i>
        </label>
      </div>
    </div>

    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">TYPE</span>
        <!-- <input type="text" placeholder="Front Load"> -->
        <select>
          <option ng-repeat="type in types">
            {{type}}
          </option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">BRAND</span>
        <select>
          <option ng-repeat="brand in brands">
            {{brand}}
          </option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="">WARRANTY STATUS</span>
        <!-- <input type="text" placeholder="john@suhr.com"> -->
        <select>
          <option ng-repeat="w in warrantys">
            {{w}}
          </option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">NATURE OF PROBLEM (SELECT OR RECORD)</span>
        <input type="text" placeholder="Some Bullshit">
        <!-- <select>
          <option ng-repeat="brand in brands">
            {{brand}}
          </option>
        </select> -->
      </label>
    </div>

    <button class="orange button button-large" ng-click="test()" type="button" name="checkcal">CHECK CALENDER</button>

  </ion-content>
</ion-view>
